html{
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

header {
    padding: 32px 10% 80px;
    background-color: #878787;
    color: #fff
}

.header-navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar.right {
    display: flex;
    gap: 24px;
    font-size: 18px;
}

.navbar.left a {
    font-size: 24px;
    font-weight: 900;
}

a:link,
a:visited {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

.header-intro {
    display: flex;
    justify-content: space-between;
}

.intro {
    flex-basis: 45%;
}

.intro h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.intro p {
    font-size: 18px;
    margin-top: 0;
}

.intro button {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 900;
    background-color: #05ad98;
    padding: 5px 20px;
    border: 0;
    border-radius: 5px;
}

button {
    cursor: pointer;
}

h2 {
    text-align: center;
    margin-bottom: 48px;
    font-size: 36px;
}

main {
    padding: 0 10%;
    margin-bottom: 128px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.cards li {
    flex-basis: 25%;
    font-size: 18px;
}

.cards img {
    width: 100%;
    height: 230px;
    border: #05ad98 5px solid;
    border-radius: 10px;
}

.cards a:link,
.cards a:visited {
    color: #000;
    text-align: center;
}

.cards a:hover {
    text-decoration: underline;
}

.reviews {
    padding: 36px 10%;
    margin-bottom: 128px;
    background-color: #dcdfdf;
}

blockquote {
    text-align: center;
    font-size: 36px;
}

.reviews p {
    text-align: right;
}

.signup-container {
    padding: 0 10%;
    margin-bottom: 128px;
}

.signup-alert {
    display: flex;
    justify-content: center;
    gap: 152px;
}

footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
