html{
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

header {
    padding: 0 10%;
}

.header-navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar.right {
    display: flex;
    gap: 24px;
}
