html{
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

header {
    padding: 0 10%;
    margin: 32px 0 128px;
}

.header-navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar.right {
    display: flex;
    gap: 24px;
}

.header-intro {
    display: flex;
    justify-content: space-between;
}

h2 {
    text-align: center;
    margin-bottom: 48px;
}

main {
    padding: 0 10%;
    margin-bottom: 128px;
}

.main-content {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.cards li {
    flex-basis: 15%;
}

.reviews {
    padding: 0 10%;
    margin-bottom: 128px;
}

blockquote {
    text-align: center;
    font-size: 36px;
}

.reviews p {
    text-align: right;
}

.signup-container {
    padding: 0 10%;
    margin-bottom: 128px;
}

.signup-alert {
    display: flex;
    justify-content: center;
    gap: 152px;
}

footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
